<div class="card-list" style="margin-top: 20px; margin-bottom: 20px; margin-right: auto; margin-left: auto;">
    <div id="login-container" class="login-page-container">
        <div id="login-container-header" style="padding-bottom: 10px;">
            <img src="{{site.baseurl}}/assets/images/GitHub_Logo.png" style="height: auto;">
        </div>
        <div id="login-container-body" style="padding-left: 30px; padding-right: 30px;">
            <form>
                <input id="username" type="text" name="username" value="" placeholder="Username/E-Mail" style="width: 100%; font-size: 18px; margin-bottom: 12px;">
                <input id="password" type="password" name="password" value="" placeholder="Password" style="width: 100%; font-size: 18px; margin-bottom: 22px;">
            </form> 
            <div id="login_info" class="login-page-warning" style="display: none;"></div>
        </div>
        <div id="login-container-footer-1">
            <input type="button" value="LOG IN" onclick="login();" class="login-page-login-button">
        </div>
        <div id="login-container-footer-2">
            <div class="login-page-register-button-container">
                <a class="login-page-register-button" href="https://github.com/join" target="_blank" rel="noopener noreferrer"> REGISTER </a>
            </div>
        </div>
    </div>
</div>
