html {
	font-size: 62.5%;
}

body {
	background: $color-white;
	color: $color-black;
	font-family: $font-default;
	font-size: 1.8em;
	line-height: 1.6;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
}

h1,
.h1 {
	color: $color-black;
	font-size: 2.7rem;
	font-weight: 600;
	line-height: 1;
	margin: 0;
}

h2,
.h2 {	
	color: $color-silver-chalice;
	display: block;
	font-family: $font-lekton;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .3rem;
    line-height: 1;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

h3,
.h3 {
	color: $color-black;
	font-family: $font-default;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

p {
	margin: 0;
	font-weight: 400;
}

a {
	color: $color-black;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

img {
	display: block;
	max-width: 100%;
}

hr {
	background: $color-silver-chalice;
	border: 0;
	display: block;
	height: 1px;
	margin: 3rem 0;

	@media (min-width: $breakpoint-medium) {
		margin: 4.5rem 0;
	}
}

abbr[title] {
	border-bottom: 1px dotted $color-black;
	text-decoration: none;
}

code {
	background: $color-white;
	border: 1px solid $color-silver-chalice;
	border-radius: 3px;
	font-family: $font-lekton;
	font-size: 1.5rem;	
	padding: .1rem .4rem;

	var {
		font-style: italic;
	}
}

dl {
	margin: 0 0 3rem;

	dt,
	dd {
		font-family: $font-lekton;		
	}

	dt {
		font-weight: 600;
	}

	dd {
		font-weight: 400;
	}
}

.responsive-table {
	margin-bottom: 3rem;
	
	@media (max-width: $breakpoint-xsmall) {
		display: block;	
		overflow-x: scroll;
		max-width: $breakpoint-xsmall;

		th,
		td {
			min-width: 10rem;
		}
	}
}

table {
	border-collapse: collapse;	
	width: 100%;

	thead {
		td,
		th {
			font-weight: 600;
		}
	}

	tbody > tr:nth-child(odd) > td, 
	tbody > tr:nth-child(odd) > th {
		background: $color-white-sand;
	}

	th,
	td {
		font-family: $font-lekton;
		font-weight: 400;
		text-align: left;
		padding: .5rem 1rem;
	}
}

blockquote {
	border-left: .6rem solid $color-black;
	padding-left: 2rem;
	margin: 0 0 3rem;

	p {
		font-style: italic;
	}

	@media (min-width: $breakpoint-medium) {
		padding-left: 3rem;
	}
}

pre {
	margin: 0 0 3rem;
}

.images-container, .files-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 50px;
	align-items: center;
    justify-content: center;
}

.new-image-container, .new-file-container {
	display: grid;
	grid-template-columns: 350px;
	padding: 10px;
}

.new-image-row-1, .new-file-row-1 {
	grid-row: 1;
	width: 350px;
	height: 250px;
}



.new-image-file-input, .new-file-input {
	width: 100%;
	height: 100%;
}


.new-image-display {
	max-width:350px;
	max-height:250px; 
	background-size: cover;
	margin: auto;
}

.new-image-display-hide {
	display: none;
}

.new-image-row-2, .new-file-row-2  {
	grid-row: 2;
	max-width: 350px;
	width: 100%;
	text-align: center;
}

.new-image-alt-input, .new-file-size-input, .existing-image-alt-input {
	width: 97.4%;
}

.header-buttons {
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	background: $color-site-blue;
	border-radius: 10px;
}

.header-buttons:hover {
	background: $color-site-dark-blue;
	color: white;
}

.header-buttons-container {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: auto auto auto auto ;
	text-align: center;
	background: $color-site-blue;
	border-radius: 10px;
}

.poster-red-font {
	color: $color-site-red;
}

.poster-blue-font {
	color: $color-site-blue;
}

.grid-files-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	padding: 5px;
	align-content: center;
}

.grid-size-header {
	grid-column: 1;
	display: flex;
    justify-content: center;
	align-items: center;
}

.grid-files-header {
	grid-column: 2 / span 2;
	text-align: center;
}

.grid-file-type-header {
	text-align: center;
}

.grid-scad-file {
	grid-column: 2;
}

.grid-stl-file {
	grid-column: 3;
}

.center-text {
	text-align: center;
}

.grid-files-header-bottom {
    border-bottom-style: solid;
    border-bottom-color: #8B1304;
	background: #FF422A;
	color: white;	
}

.similar-cell {
	margin: auto;
	max-width: 100px;
}

.similar-button {
	width: max-content;
	height: auto;
}

.similiar-img {
	border-radius: 50%;
    width: 100px;
    height: 100px;
    border-style: dashed;
	object-fit: cover;
	border-color: $color-site-blue;
}
.similiar-img:hover {
	border-color: $color-site-red;
	background-color: $color-site-red;
}

.login-container {
	padding-right: 10px;
	font-size: 30px;
	float:right;
}

.login-icon {
 color: $color-site-dark-blue;
}

.login-icon:hover {
	color: $color-site-blue;
}

.login-page-container {
	background: white;
	width: 300px;
	padding: 30px; 
	border-style: dashed; 
	border-radius: 50px;
}

.login-page-login-button {
	color: white;
	border: none;
	background: $color-site-green;
	height: 60px;
	width: 100%;
	border-bottom-style: solid;
	border-color: $color-site-dark-green;
	border-width: 5px;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 600;
	outline: none;
	margin-bottom: 19px;
}

.login-page-login-button:hover {
	cursor: pointer;
}

.login-page-register-button-container {
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top-style: solid;
	border-color: lightgray;
	border-width: 1px;
}

.login-page-register-button {
	border: none;
	background: $color-site-yellow;
	color: white;
	width: 100%;
	height: 60px;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;

	border-bottom-style: solid;
	border-color: $color-site-dark-yellow;
	border-width: 5px;
	border-radius: 50px;
	line-height: 60px;
}

.login-page-warning {
	//border-style: solid;
	//border-color: $color-site-red;
	padding: 10px;
	background-color: $color-site-red;
	color: white;
	margin-bottom: 22px;
	border-radius: 25px;
	text-align: center;
	font-size: 13px;
}


/* Slideshow container */
.slideshow-container {
	max-width: 700px;
	position: relative;
	margin: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 32px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0,0,0,0.3);
}

  /* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.numbertext {
	position: absolute;
    left: 20px;
    top: 10px;
    color: #ffffff;
    opacity: 1;
    background: dimgrey;
    padding: 5px;
	border-radius: 10px;
	opacity: 0.8;
}

.remove-button {
	color: white;
	border: none;
	background: $color-site-yellow;
	height: 60px;
	width: 100%;
	border-bottom-style: solid;
	border-color: $color-site-dark-yellow;
	border-width: 5px;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 600;
	outline: none;
    margin-top: 5px;
    max-width: 150px
}

.remove-button:hover {
	cursor: pointer;
}

#addImageButton {
	border-radius: 25px;
    background: $color-site-green;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: $color-site-dark-green;
    color: white;
	font-size: 25px;
	max-width: 350px;
    max-height: 250px;
	width: 100%;
	height: 250px;
	margin-bottom: 93px;
	outline: none;
}

#addImageButton:hover {
	cursor: pointer;
}

#addImageButton:active {
	border-bottom-color: $color-site-dark-green;
}

.choose-file-button {
	//border-radius: 25px;
    background: $color-site-blue;
    color: white;
	font-size: 25px;
	max-width: 350px;
    max-height: 250px;
	width: 100%;
	height: 250px;
	margin-bottom: 93px;
	outline: none;
}

.choose-file-button:hover {
	cursor: pointer;
}

.choose-file-button:active {
	border-bottom-color: $color-site-dark-blue;
}

.choose-file-button::-webkit-file-upload-button {
	visibility: hidden;
}

.choose-file-button::before {
	content: 'Select Image';
	display: inline-block;
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
  }

  
  .choose-file-button:hover::before {
	border-color: black;
  }
  .choose-file-button:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .choose-file-button + label {
	  color: indianred;
  }