/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-poppins: 'Poppins', $font-default;
$font-lekton: 'Lekton', $font-default;

/* Colors
 ****************************************************************/

$color-white: #fff;
$color-black: #000;
$color-silver-chalice: #aaa;
$color-alabaster: #fafafa;
$color-tango: #f46f25;
$color-white-sand: #f6f6f6;

$color-poster-red: #e12743;
$color-poster-blue:#2370a4;

$color-site-light-blue: #8DBDDC;
$color-site-blue: #2371A4;
$color-site-dark-blue: #083959;

$color-site-light-red: #FFA99E;
$color-site-red: #FF422A;
$color-site-dark-red: #8B1304;

$color-site-light-green: #8FE7A6;
$color-site-green: #1FBF49;
$color-site-dark-green: #03681D;

$color-site-light-yellow: #FFD49E;
$color-site-yellow: #FFA12A;
$color-site-dark-yellow: #8B4F04;


/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;